[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "framecat"
version = "0.1.7"
readme = "README.md"
license = { file = "LICENSE" }
authors = [
    {name = "Simon le Cleac'h", email = "simonlch.edu@gmail.com"},
]

dependencies = [
    "pytest>=7.4.2",
    "pytest-cov>=4.1.0",
    "pillow>=9.0.0",
]

requires-python = ">=3.9"

[tool.coverage.run]
source = ["./src/framecat"]


[project.scripts]
framecat = "framecat.cli:main"